<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{this.first_name}}" id="floatingInput" name="first_name"
            placeholder="First Name">
        <label for="floatingInput">First Name</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{this.last_name}}" id="floatingInput" name="last_name"
            placeholder="Last Name">
        <label for="floatingInput">Last Name</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{this.email}}" id="floatingInput" name="email"
            placeholder="Email">
        <label for="floatingInput">Email</label>
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" value="{{this.phone}}" id="floatingInput" name="phone"
            placeholder="Phone">
        <label for="floatingInput">Phone</label>
    </div>
</div>

<div class="col-md-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" style="height: 200px" name="comments"
            placeholder="Comments">{{this.comments}}</textarea>
        <label for="floatingInput">Comment</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary">Submit</button>
</div>
