{{#if removed_user}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> 
  {{!-- {{removed_user}} --}}
  This user has been removed
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<div class="row">
  <div class="col-6">
    <h1 style="font-family: poppins-black">USERS</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ add user</a>
  </div>
</div>


<table class="table table-bordered">
  <thead class="thread-dark">
    <tr >
      <th class="p-4" scope="col">#</th>
      <th class="p-4" scope="col">First Name</th>
      <th class="p-4" scope="col">Last Name</th>
      <th class="p-4" scope="col">Email</th>
      <th class="p-4" scope="col">Phone</th>
      <th class="p-4" scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th class="p-4" scope="row">{{this.id}}</th>
      <td class="p-4">{{this.first_name}}</td>
      <td class="p-4">{{this.last_name}}</td>
      <td class="p-4">{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-end class="p-4"">
          <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye">View</i></a>
          <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil">Edit</i></a>
          <a href="/{{this.id }}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x">Delete</i></a>


      </td>
    </tr>
    {{/each}}
  </tbody>
</table>